# <center>Heart Attack in China Classification Code</center>

In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler , LabelEncoder

In [12]:
dt = pd.read_csv("heart_attack_china.csv")

pd.set_option('display.max_columns',None)
dt

,Patient_ID,Age,Gender,Smoking_Status,Hypertension,Diabetes,Obesity,Cholesterol_Level,Air_Pollution_Exposure,Physical_Activity,Diet_Score,Stress_Level,Alcohol_Consumption,Family_History_CVD,Healthcare_Access,Rural_or_Urban,Region,Province,Hospital_Availability,TCM_Use,Employment_Status,Education_Level,Income_Level,Blood_Pressure,Chronic_Kidney_Disease,Previous_Heart_Attack,CVD_Risk_Score,Heart_Attack
0,1,55,Male,Non-Smoker,No,No,Yes,Normal,High,High,Moderate,Low,Yes,No,Good,Rural,Eastern,Beijing,Low,Yes,Unemployed,Primary,Low,104,Yes,No,78,No
1,2,66,Female,Smoker,Yes,No,No,Low,Medium,High,Healthy,Medium,No,Yes,Poor,Urban,Eastern,Qinghai,High,No,Unemployed,Secondary,Middle,142,No,No,49,No
2,3,69,Female,Smoker,No,No,No,Low,Medium,High,Moderate,Low,No,No,Poor,Rural,Eastern,Henan,Low,No,Unemployed,Primary,High,176,No,No,31,No
3,4,45,Female,Smoker,No,Yes,No,Normal,Medium,Low,Healthy,Medium,Yes,No,Poor,Rural,Central,Qinghai,Medium,Yes,Employed,Primary,Low,178,No,Yes,23,No
4,5,39,Female,Smoker,No,No,No,Normal,Medium,Medium,Healthy,Low,No,No,Moderate,Urban,Western,Guangdong,Low,No,Retired,Higher,Middle,146,Yes,No,79,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239261,239262,53,Male,Non-Smoker,No,No,No,Normal,Medium,Medium,Healthy,Medium,No,No,Moderate,Urban,Northern,Henan,High,Yes,Retired,Higher,Low,167,No,No,86,Yes
239262,239263,48,Female,Non-Smoker,No,No,Yes,Normal,Low,Medium,Poor,High,No,No,Poor,Rural,Western,Shanghai,Medium,Yes,Unemployed,Higher,Low,179,No,No,25,No
239263,239264,57,Male,Smoker,Yes,No,No,Normal,Low,High,Poor,Low,No,No,Moderate,Urban,Southern,Gansu,Medium,Yes,Retired,Higher,Middle,136,No,No,89,No
239264,239265,42,Female,Non-Smoker,No,No,No,High,Medium,High,Poor,High,No,Yes,Poor,Rural,Southern,Sichuan,Low,Yes,Employed,Primary,Middle,159,No,No,72,Yes
239265,239266,79,Male,Non-Smoker,No,No,No,High,Medium,Medium,Moderate,Medium,No,No,Poor,Urban,Southern,Henan,High,No,Retired,Secondary,Low,112,Yes,No,46,No

In [4]:
categorical_cols = dt.select_dtypes(include=['object']).columns
categorical_cols

Index(['Gender', 'Smoking_Status', 'Hypertension', 'Diabetes', 'Obesity',
       'Cholesterol_Level', 'Air_Pollution_Exposure', 'Physical_Activity',
       'Diet_Score', 'Stress_Level', 'Alcohol_Consumption',
       'Family_History_CVD', 'Healthcare_Access', 'Rural_or_Urban', 'Region',
       'Province', 'Hospital_Availability', 'TCM_Use', 'Employment_Status',
       'Education_Level', 'Income_Level', 'Chronic_Kidney_Disease',
       'Previous_Heart_Attack', 'Heart_Attack'],
      dtype='object')

In [13]:
dt.shape

(239266, 28)

In [14]:
x = dt.iloc[:,1:27]
y = dt.iloc[:,27:]

In [15]:
LE = LabelEncoder()

In [21]:
DT = pd.DataFrame()
DT['Age'] = dt['Age']
DT['Blood_Pressure'] = dt['Blood_Pressure']
DT['CVD_Risk_Score'] = dt['CVD_Risk_Score']
DT

        Age  Blood_Pressure  CVD_Risk_Score
0        55             104              78
1        66             142              49
2        69             176              31
3        45             178              23
4        39             146              79
...     ...             ...             ...
239261   53             167              86
239262   48             179              25
239263   57             136              89
239264   42             159              72
239265   79             112              46

[239266 rows x 3 columns]

In [22]:
mappings = {}

for col in categorical_cols:
    DT[col] = LE.fit_transform(dt[col])  # Convert to numeric
    mappings[col] = dict(zip(LE.classes_, LE.transform(LE.classes_)))

DT

#for col in dt.iloc[:,1:28]:
#    DT[col] = LE.fit_transform(dt[col])

#DT

,Age,Blood_Pressure,CVD_Risk_Score,Gender,Smoking_Status,Hypertension,Diabetes,Obesity,Cholesterol_Level,Air_Pollution_Exposure,Physical_Activity,Diet_Score,Stress_Level,Alcohol_Consumption,Family_History_CVD,Healthcare_Access,Rural_or_Urban,Region,Province,Hospital_Availability,TCM_Use,Employment_Status,Education_Level,Income_Level,Chronic_Kidney_Disease,Previous_Heart_Attack,Heart_Attack
0,55,104,78,1,0,0,0,1,2,0,0,1,1,1,0,0,0,1,0,1,1,2,1,1,1,0,0
1,66,142,49,0,1,1,0,0,1,2,0,0,2,0,1,2,1,1,4,0,0,2,2,2,0,0,0
2,69,176,31,0,1,0,0,0,1,2,0,1,1,0,0,2,0,1,3,1,0,2,1,0,0,0,0
3,45,178,23,0,1,0,1,0,2,2,1,0,2,1,0,2,0,0,4,2,1,0,1,1,0,1,0
4,39,146,79,0,1,0,0,0,2,2,2,0,1,0,0,1,1,4,2,1,0,1,0,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239261,53,167,86,1,0,0,0,0,2,2,2,0,2,0,0,1,1,2,3,0,1,1,0,1,0,0,1
239262,48,179,25,0,0,0,0,1,2,1,2,2,0,0,0,2,0,4,6,2,1,2,0,1,0,0,0
239263,57,136,89,1,1,1,0,0,2,1,0,2,1,0,0,1,1,3,1,2,1,1,0,2,0,0,0
239264,42,159,72,0,0,0,0,0,0,2,0,2,0,0,1,2,0,3,7,1,1,0,1,2,0,0,1
239265,79,112,46,1,0,0,0,0,0,2,2,1,2,0,0,2,1,3,3,0,0,1,2,1,1,0,0

In [24]:
DT.to_csv("heart_attack_china_Classified.csv",index=False)

In [29]:
with open("output.txt", "w") as file:
    for key, value in mappings.items():
        file.write(f"{key}: {value}\n")